body {
  background-color: #EDC2D8FF;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #FCF6F5FF;
}

h1 {
    text-align: center;
    color: #EDC2D8FF;
  }

h2 {
    color: #EDC2D8FF;
  }

label {
    color: #8ABAD3FF;
    font-weight: bold;
  }

nav {
    background-color: #8ABAD3FF;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

